:root{
    --radioSize: 30px;
    --radioMargin: 5px;
}

html, body {
    background-color: black;
    margin: 0;
    height: 100%;
    width: 100%;
}

img {
    zoom: 2;
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}


.center{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

input[type=radio]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}

/*Style radio button before*/
input[type=radio].purple + label:before{
  height: var(--radioSize);
  width: var(--radioSize);
  margin: var(--radioMargin);
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  background: purple
}
input[type=radio].green + label:before{
    height: var(--radioSize);
    width: var(--radioSize);
    margin: var(--radioMargin);
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    background:green;
}
input[type=radio].red + label:before{
    height: var(--radioSize);
    width: var(--radioSize);
    margin: var(--radioMargin);
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    background:red;
}
input[type=radio].yellow + label:before{
    height: var(--radioSize);
    width: var(--radioSize);
    margin: var(--radioMargin);
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    background:yellow;
}
input[type=radio].eraser + label:before{
    height: var(--radioSize);
    width: var(--radioSize);
    margin: var(--radioMargin);
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    background:white;
    background-image: url("images/eraser-icon.png");
    background-size: cover;
    background-position: center;
    }

/*Style radio button when checked*/
input[type=radio]:checked + label:before{
    border:2px solid white;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
input[type=radio] + label:before{
  border-radius:50%;
}

.resetbutton{
    background: white;
    border-radius: 50%;
    background-image: url("images/reset-icon.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: baseline;
    border: none;
    margin: 5px;
    width: 30px;
    height: 30px;
}

.downloadbutton{
    background: white;
    border-radius: 50%;
    background-image: url("images/done-icon.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: baseline;
    border: none;
    margin: 5px;
    width: 30px;
    height: 30px;
}

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Show by default */
    background-color: rgba(0, 0, 0, 0.527); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    bottom: 0px;
}

ul{
    padding-left: 20px;
    display: inline;
}
